PORT=5000
DATABASE_URL=postgresql://admin:admin123@postgresql:5432/realestate
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNzg5MzI5NjI2LCJleHAiOjE3ODkzMzMyMjZ9.-XINJlDtgfJrbdBm03rcuJUJDHo_wvx5IAfvZCTfJe4